html{
    background-image: url("img/index.png");
}
header .barra_estado{
    display: flex;
    flex-direction: row;
    background-image: url("img/");
    background-size: auto; /* Ajusta la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen de fondo */
    border:2px black solid;
}
header .logo{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 30%;
}
.logo img{
    width: 100px;
    height: 80px;
}
header .opciones1{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 70%;
}
ul li{
    display: inline-block;
}
button{
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 10px;
}
button a{
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
.titulo{
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    width: 50%;
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.fila {
    display: flex;
    justify-content: center;
    gap: 20px;
}

img {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
}